################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libSNMP/.vs/libSNMP/v14
/libSNMP-example/Debug
/libSNMP-example/Release
/libSNMP-example/.vs
/libSNMP-example/__vm
/libSNMP-example
