################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libSNMP/.vs/libSNMP/v14
